name: Build
'on':
  push:
    branches:
      - main
defaults:
  run:
    shell: 'bash -el {0}'
jobs:
  build:
    name: '${{ matrix.name }}'
    runs-on: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux
            os: ubuntu-latest
            arch: x86

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Install GMT dependencies
        run: >
          sudo add-apt-repository universe

          sudo apt update

          sudo apt install gfortran

          sudo apt install build-essential cmake ninja-build libcurl4-gnutls-dev

          sudo apt install libnetcdf-dev libnetcdf-fortran-dev

          sudo apt install gdal-bin libgdal-dev libgeos-dev

          sudo apt install libglib2.0-dev libpcre3-dev libfftw3-dev
          liblapack-dev

          sudo apt install ghostscript
      - name: Install GMT
        run: |
          bash ci/build.sh
          echo "install/bin" >> $GITHUB_PATH

      - name: Check a few simple commands
        run: |
          ls gmt_install
          ls gmt_insall/install
          gmt
          nc-config --has-fortran
