name: Download DEB Packages for Offline Use
'on':
  push:
    branches:
      - main

defaults:
  run:
    shell: 'bash -el {0}'
jobs:
  build:
    name: '${{ matrix.name }}- ${{ matrix.arch }}'
    runs-on: '${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux
            os: ubuntu-22.04
            #os: ubuntu-latest
            arch: x86
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Set up workspace
        run: |
          mkdir -p debs
          sudo apt update
          sudo apt install -y apt-rdepends

      - name: Generate package list
        run: apt-rdepends gmt gmt-dcw gmt-gshhg ghostscript gdal-bin | grep -v "^ " | sort -u > debs/package-list.txt

      - name: Download DEB files
        run: |
          cd debs
          xargs -a package-list.txt apt download

      - name: Create zip archive
        run: |
          cd debs
          zip -r ../offline-packages.zip .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: offline-deb-packages
          path: offline-packages.zip

